@charset "utf-8";
*{
	margin:0;
}
body{
	overflow: hidden;
	background-image: url("../register/image/back.jpg");
}
/*下拉导航透明*/
.rm-nav ul,.nav li{
	background-color: rgba(0,0,0,0);
}
a{
	color: white;
	font-size: 15px;
}
a:hover{
	color: red;
}
/*提示图标*/
#acicon,#pwicon,#pw2icon,#emicon{
	display: none;
	width: 16px;
	height: 16px;
}
/*提示文字*/
#acnote,#pwnote,#pw2note,#emnote{
	font-size: 16px;
	font-family: Courier;
	font-weight: bold;
}
/*注册框*/
#register{
	background-color: rgba(102,179,255,0.3);
	background-size: 100%;
	background-repeat: 1;
	top: 15%;
	left:25%;
	width: 50%;
	margin: 0 auto;
	position: absolute;
	font-size: 20px;
	padding: 30px;
	font-family: mv boli;
	border-radius: 20px;
	z-index: 20;
}
/*标题*/
#loretitle{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	font-family:Courier,mv boli,Arial;
}
/*底部按钮*/
#bottom{
	margin-top: 20px;
	text-align: center;
}
/*账号输入*/
#acreg{
	margin-left: 15px;
}
/*密码号码输入*/
#pwreg,#phone{
	margin-left: 5px;
}
/*密码确认输入*/
#pw2in{
	margin-left: 17px;
}
/*邮箱输入*/
#emin{
	margin-left: 31px;
}
/*性别选择*/
#gd{
	margin-left: 70px;
}
/*星座选择*/
#cs{
	margin-left: 20px;
}
/*qq输入*/
#qq{
	margin-left: 99px;
}
/*输入框*/
input{
	border-style: solid;
	border-color:lightblue; 
}
#content{
	padding: 20px;
	font-family: mv boli;
}
/*按钮*/
button{
	background-color:#ecf5ff;
	opacity: 0.8;
	border-style:outset;
	font-family: 
}
button:hover{
	opacity: 1;
	border-style:inset;
	cursor: pointer;
}
/*版权区*/
#footer{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
}
#footer a{
	color: white;
}
#footer a:hover{
	color:#7F7F7F;
}
#focontet{
		font-size: 17px;
		color: white;
		width: 600px;
		height: 100px;
		margin:0 auto;
		text-align: center;
		font-weight: lighter;
}
#footer img{
	width: 100px;
	height: 70px;
	float: left;
	padding-top: 30px;
	position: relative;
}